/* global */
:root {
	/* color */
	--color-pink: #f78379;
	--color-grey: #666565;
	--color-light-grey: #7b7b7b;
	--color-semi-dark-grey: #4a4a4a;
	--color-dark-grey: #424242;

	/* font size */
	--font-xlarge: 28px;
	--font-large: 22px;
	--font-medium: 16px;
	--font-small: 15px;
	--font-xsmall: 14px;
	--font-micro: 11px;

	/* font weight */
	--weight-bold: 600;
	--weight-semi-bold: 550;
	--weight-regular: 400;
	--weight-semi-regular: 300;

	/* font */
	--font-sans: 'Noto Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
}
body {
	margin: 0;
	font-family: var(--font-sans);
	font-weight: 300;
	cursor: default;
	letter-spacing: -1px;
	/* overflow-x: hidden; */
	text-align: center;
}
#root {
	width: 100vw;
	height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

.app_container {
	margin-left: 5px;
	text-align: center;
	width: 100%;
	height: 100%;
}

/* navbar */

.navbar {
	margin: auto;
	display: flex;
	justify-content: center;
}

.navbar_menu {
	display: flex;
	justify-content: space-between;
	margin: 10px 20px;
	margin-left: 5px;
	padding: 5px;
	width: 1180px;
	max-width: 1200px;
}

.menu {
	display: flex;
	justify-content: right;
	position: relative;
}

.menu > li {
	font-size: var(--font-xsmall);
	font-weight: var(--weight-semi-bold);
	color: var(--color-grey);
	width: 70px;
}
.service {
	position: relative;
	padding-right: 2px;
}

.service > a {
	padding: 0 4px;
}

.service:hover .service_drop {
	opacity: 1;
	z-index: 1;
}

.service_drop:hover {
	opacity: 1;
	z-index: 1;
}

.service_drop {
	opacity: 0;
	z-index: -1;
	border: 1px solid #03030300;
	transition: all 0.2s;
	width: 90px;
	padding: 4px 0;
	border-radius: 5px;
	position: absolute;
	top: 27px;
	right: 0;
	box-shadow: 0 0 4px rgb(0 0 0 /20%);
	display: block;
	background-color: #ffff;
}
.service_drop > ul > li {
	padding: 0 4px;
	display: block;
}
.service_drop > ul > li > a {
	padding: 4px 0;
	text-align: center;
	font-size: var(--font-xsmall);
	line-height: 30px;
}

.menu > img {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 0px;
	top: 10px;
}

.navbar_menu_delivery {
	height: 22px;
	display: flex;
	border: 1px solid rgb(224, 223, 223);
	border-radius: 13px;
	padding: 1px 6px;
	font-size: var(--font-micro);
	font-weight: var(--weight-semi-bold);
	cursor: pointer;
	color: var(--color-grey);
	align-items: center;
	justify-content: center;
	letter-spacing: 0px;
}

.point {
	color: var(--color-pink);
}
.login {
	padding: 5px;
}

/* main logo */

.main_logo > img {
	width: 147px;
	cursor: pointer;
}

/* category */

.category {
	display: flex;
	justify-content: center;
}

.categoryBar {
	display: flex;
	justify-content: space-around;
	margin: 30px 8px;
	align-items: center;
	max-width: 1200px;
	width: 1180px;
}

.categories {
	display: flex;
	justify-content: start;
	flex: 1;
	color: #4e4d4d;
}

.all_category {
	padding-left: 48px;
	position: relative;
	cursor: pointer;
	width: 50px;
	color: #4e4d4d;
}

.category_btn {
	font-size: var(--font-medium);
	font-weight: var(--weight-bold);
	margin-right: calc(20% - 100px);
	color: #4e4d4d;
}

/* search bar */

.search_bar {
	display: flex;
	margin-right: 20px;
	align-items: center;
}

.searchBtn {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.searchBar {
	width: 200px;
	padding: 5px;
	border: none;
}

.searchBar:focus {
	outline: none;
}

.button {
	border: 0;
}

input::placeholder {
	font-weight: var(--weight-semi-bold);
}

/* all category wrap */

.all_category_wrap {
	width: 744px;
	height: 600px;
	z-index: 998;
	position: absolute;
	top: 51px;
	left: 0;
	display: none;
}

.all_category_wrap.active {
	display: block;
}

.wrap_area {
	border: 1px solid #f6e9e9;
	background-color: #ffffff;
	width: 33.333%;
	min-width: 248px;
	height: 100%;
	margin-left: -3px;
}

.wrap_area > ul {
	padding: 12px 0;
}

.wrap_area > ul > li {
	/* height: 60px; */
	text-align: start;
	word-wrap: break-word;
}

.wrap_area > ul > li > a {
	display: block;
	position: relative;
	padding: 12px 28px;
	color: #4e4d4d;
	font-weight: var(--weight-semi-bold);
}

.wrap_area > ul > li > a:hover {
	color: var(--color-pink);
}

/* navbar hamburger 기본*/

.hamburger,
.hamburger span {
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
}

.hamburger {
	position: absolute;
	top: 2px;
	width: 30%;
	height: 17px;
	left: -9px;
}

.hamburger span {
	position: absolute;
	left: 7px;
	width: 23px;
	height: 3px;
	background-color: rgb(59, 59, 59);
}

.hamburger span:nth-child(1) {
	top: 0px;
}

.hamburger span:nth-child(2) {
	top: 7px;
}

.hamburger span:nth-child(3) {
	bottom: 0px;
}

/* navbar hamburger click */

.hamburger.active span:nth-child(1) {
	-webkit-transform: translateY(7px) rotate(-45deg);
	transform: translateY(7px) rotate(-45deg);
}
.hamburger.active span:nth-child(2) {
	opacity: 0;
}
.hamburger.active span:nth-child(3) {
	-webkit-transform: translateY(-7px) rotate(45deg);
	transform: translateY(-7px) rotate(45deg);
}

/* mobile navbar */

.mobile_navbar {
	display: none;
	position: relative;
}

.mobile_navbar_menu {
	width: 556px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -556px;
	z-index: 1;
	background-color: rgb(255, 255, 255);
	transition: all 300ms ease-in;
	box-shadow: 0px 5px 15px #00000015;
}

.mobile_navbar_menu.open {
	display: block;
	top: 0;
	right: 0;
}

.mobile_user_login {
	padding: 6px 16px 18px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--font-medium);
	font-weight: var(--weight-bold);
}

.mobile_navbar_close {
	width: 32px;
	height: 32px;
	display: inline-block;
	cursor: pointer;
}

.mobile_navbar_close::after,
.mobile_navbar_close::before {
	content: '';
	background-color: #c1c1c1;
	width: 3px;
	height: 24px;
	position: absolute;
	top: 5px;
}

.mobile_navbar_close::after {
	transform: rotate(45deg);
}
.mobile_navbar_close::before {
	transform: rotate(-45deg);
}

.mobile_user_menu {
	display: flex;
}

.mobile_my_page,
.mobile_cart {
	margin: 16px auto;
	font-size: var(--font-small);
	font-weight: var(--weight-semi-bold);
	width: 15%;
	height: 50px;
	position: relative;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
}
.mobile_my_page::before,
.mobile_cart::before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	top: 5px;
	left: 30px;
}
.mobile_my_page::before {
	background-image: url('./images/ic-human.png');
}
.mobile_cart::before {
	background-image: url('./images/ic-cart-black.png');
}

.mobile_search_bar {
	margin: 15px 24px;
}

.mobile_categories {
	border-bottom: 1px solid rgb(211, 211, 211);
	border-top: 1px solid rgb(211, 211, 211);
	/* calc css계산식 넣는곳 */
	height: calc(100vh - 326px);
	min-height: 338px;
}

.mobile_store_bnt::after {
	content: '';
	position: absolute;
	width: 17px;
	height: 17px;
	transform: rotate(180deg);
	right: 19px;
	top: 210px;
	background-image: url('./images/ic-left-arrow-black.svg');
}

.mobile_category > ul {
	padding: 12px 32px;
	text-align: start;
}

.mobile_category > ul > li {
	cursor: pointer;
	width: 110px;
	margin-right: auto;
	font-size: 16px;
	color: var(--color-dark-grey);
	font-weight: var(--weight-semi-bold);
}

.mobile_notice,
.mobile_faq,
.mobile_service {
	margin: 16px auto;
	font-size: var(--font-small);
	font-weight: var(--weight-bold);
	width: 12%;
	height: 50px;
	position: relative;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
}

.mobile_notice::before,
.mobile_faq::before,
.mobile_service::before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	top: 2px;
	left: 22px;
}

.mobile_notice::before {
	background-image: url('./images/ic-alrim.png');
}

.mobile_faq::before {
	background-image: url('./images/ic-information.png');
}

.mobile_service::before {
	background-image: url('./images/ic-service.png');
}

.mobile_login_bnt {
	border: 1px solid #c2c2c2;
	border-radius: 3px;
	padding: 9px 12px;
	width: 200px;
	background-color: white;
	margin: 30px auto 5px;
	color: #7b7b7b;
	font-weight: var(--weight-semi-bold);
	cursor: pointer;
}

/* banner */

.banner {
	display: flex;
	justify-items: center;
	justify-content: center;
	position: relative;
}

.imgSlider {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 800px; */
	max-width: 1449px;
	height: 500px;
	flex-wrap: nowrap;
	overflow: hidden;
}

.imgSlider_img {
	position: absolute;
	display: flex;
	background-repeat: no-repeat;
}

.imgSlider_img.fade {
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	transition: all 500ms;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0.3;
	}
	to {
		opacity: 1;
	}
}

ul,
li {
	list-style: none;
}

.prev-button {
	background-image: url(./images/ic-hero-prev.png);
	left: 3%;
}

.next-button {
	background-image: url(./images/ic-hero-next.png);
	right: 3%;
}

.prev-button,
.next-button {
	z-index: 0.5;
	width: 56px;
	height: 56px;
	opacity: 30%;
	top: 45%;
	position: absolute;
	transition: all 0.4s;
}
.next-button:hover,
.prev-button:hover {
	opacity: 1;
	cursor: pointer;
}

/* best product */
.bestProduct {
	margin-top: 80px;
	display: flex;
	justify-content: center;
}

.section-warp {
	display: flex;
	justify-content: space-between;
	position: relative;
	/* margin: 0 0px 20px 30px; */
	margin-bottom: 32px;
	margin-left: 10px;
	padding-left: 25px;
}

.section-warp span {
	font-size: var(--font-xlarge);
	font-weight: var(--weight-bold);
	display: flex;

	position: relative;
	padding-right: 30px;
	/* width: 180px; */
	display: flex;
	cursor: pointer;
}

.section-warp > span::after {
	background: url('./images/ic-left-arrow-black.svg') no-repeat 100% 100%;
	content: '';
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 7px;
	right: -8px;
	transform: rotate(180deg);
}

.bnt {
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100px;
	background-size: contain;
	background-position: center;
}

.bnt-prev {
	background: url(./images/ic-left-arrow-black.svg) no-repeat 100% 100%;
	width: 50px;
	height: 30px;
	border: none;
	background-position-y: -5px;
	background-position-x: -3px;
	background-size: 40px 40px;
}

.bnt-next {
	background: url(./images/ic-left-arrow-black.svg) no-repeat 100% 100%;
	width: 50px;
	height: 30px;
	border: none;
	transform: rotate(180deg);
	background-position-y: -5px;
	background-position-x: -3px;
	background-size: 40px 40px;
}

/* card info */

.info,
.review {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* height: 406px; */
	padding: 12px;
}

.info_card {
	padding: 7px;
}

.info_img_box,
.review_img_box {
	width: 278px;
	height: 278px;
	overflow: hidden;
	border-radius: 10px;
	object-fit: contain;
}

.info_img,
.review_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	transition: all 0.1s linear;
}

.info_img:hover {
	transform: scale(1.1);
}

.info_infoText {
	padding: 12px;
	max-width: 250px;
}

.info_name {
	text-align: left;
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: #444444;
	margin-bottom: 3px;
}

.info_price {
	text-align: left;
	font-size: var(--font-large);
	color: #354702;
	font-weight: var(--weight-bold);
	letter-spacing: 0.4px;
}

.info_price > span {
	margin: 6px;
	font-size: var(--font-xsmall);
}

.info_brand {
	position: relative;
	margin-top: 8px;
	display: flex;
	justify-content: start;
	padding-left: 19px;
	font-size: var(--font-xsmall);
	font-weight: var(--weight-semi-bold);
	color: var(--color-grey);
}

.info_brand::before {
	background: url(./images/ic-shop.png) no-repeat 100% 100%;
	content: '';
	width: 10px;
	height: 15px;
	padding-left: 5px;
	position: absolute;

	top: 3px;
	left: 0px;
}

.section_title {
	font-size: var(--font-xlarge);
	font-weight: var(--weight-bold);
	display: flex;
	position: relative;
	padding-right: 30px;
	width: 180px;
	display: flex;
	cursor: pointer;
}
.review_img:hover {
	transform: scale(1.1);
}

.review_img_box {
	position: relative;
}
.review_name {
	position: absolute;
	display: inline-block;
	text-align: center;
	bottom: 13px;
	left: 0.5px;
	transform: translate(-50% -50%);
	padding: 5px;
	width: 265px;
	height: 25px;
	color: #ffffff;
	font-size: var(--font-small);
	font-weight: var(--weight-semi-bold);
}
.review_text_box {
	width: 295px;
}

.review_email {
	text-align: left;
	font-size: var(--font-xsmall);
	font-weight: var(--weight-bold);
	letter-spacing: 0.4px;
	color: var(--color-grey);
	margin: 15px 10px;
}

.review_email > span {
	color: rgb(37, 37, 37);
}

.review_content {
	position: relative;
	margin-top: 8px;
	display: flex;
	justify-content: start;
	font-size: var(--font-xsmall);
	font-weight: var(--weight-semi-bold);
	color: #000000;
	width: 225px;
	height: 2.5em;
	padding: 5px;
	margin-left: 15px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.rate {
	margin-left: 10px;
	position: relative;
	padding-left: 23px;
}

.star {
	width: 17px;
	position: absolute;
	left: 1px;
	top: 1.5px;
}

/* footer */
.footer_container {
	border-top: 1px solid rgb(151, 151, 151);
	display: flex;
	justify-content: center;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 63px 60px;
	max-width: 1200px;
	min-width: 800px;
	width: 1180px;
}

.footer_left {
	text-align: start;
}

.footer_title {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-light-grey);
	margin-bottom: 18px;
	width: 100%;
}

.footer_info {
	line-height: 25px;
}

.footer_info > li {
	font-size: var(--font-xsmall);
	font-weight: var(--weight-semi-regular);
	color: var(--color-light-grey);
}

.footer_guide {
	margin-top: 40px;
	display: flex;
}

.footer_guide > li {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-light-grey);
	margin-right: 25px;
}

.footer_right {
	text-align: end;
	padding-top: 30px;
}

.right_info > li {
	font-size: var(--font-xsmall);
	font-weight: normal;
	color: var(--color-light-grey);
}

.footer_sns {
	margin-top: 32px;
}

.footer_sns > img {
	width: 48px;
	height: 48px;
	margin: 8px;
}

.footer_copyright {
	font-size: var(--font-xsmall);
	font-weight: var(--weight-semi-bold);
	color: var(--color-light-grey);
}

/* 1025px navbar toggle */
/* 480px list 2개씩 */
/* 700px footer */

@media screen and (max-width: 1024px) {
	:root {
		/* font size */
		--font-xlarge: 22px;
		--font-large: 19px;
		--font-medium: 14px;
		--font-small: 13px;
		--font-xsmall: 11px;
		--font-micro: 10px;
	}

	.main_navbar {
		display: none;
	}

	.mobile_navbar {
		display: block;
		height: 42px;
		padding: 8px;
		position: relative;
	}

	.mobile_logo_img {
		height: 32px;
		margin-top: 4px;
	}

	.mobile_logo_img > img {
		width: 100px;
		cursor: pointer;
	}

	.mobile_logo_hamburger {
		width: 25px;
		position: absolute;
		right: 40px;
		top: 15px;
		display: inline-block;
		cursor: pointer;
	}

	.hamburger_icon {
		background-color: var(--color-dark-grey);
		width: 100%;
		height: 3px;
		margin: 11px 0;
		position: relative;
		display: block;
	}

	.hamburger_icon::before {
		content: '';
		background-color: var(--color-dark-grey);
		height: 3px;
		width: 100%;
		position: absolute;
		top: -8px;
		right: 0;
	}

	.hamburger_icon::after {
		content: '';
		background-color: var(--color-dark-grey);
		height: 3px;
		width: 100%;
		position: absolute;
		top: 8px;
		right: 0;
	}
	.imgSlider_img > img {
		width: 100%;
		height: auto;
	}

	.section-warp {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 900px) {
	.info_card {
		max-width: 230px;
	}

	.imgSlider_img > img {
		width: 100%;
		height: auto;
	}

	.card {
		width: 100%;
	}

	.card_container {
		min-height: calc(100vh - 345px);
	}

	.app_container {
		margin: 0;
	}

	.info {
		padding: 0;
		flex-wrap: wrap;
		justify-content: center;
	}

	.info_card,
	.review_card {
		max-width: 180px;
		margin: 0.5%;
	}

	.info_img_box,
	.review_img_box {
		max-width: 200px;
		max-height: 200px;
	}

	.info_img {
	}

	p {
		width: 180px;
	}

	.info_infoText,
	.review_text_box,
	.review_content {
		max-width: 170px;
	}

	.coupon {
		width: 100%;
		margin-top: 50px;
	}
}
